Django==6.0.2
django-cloudinary-storage==0.3.0
cloudinary==1.44.1
psycopg2-binary
gunicorn
python-dotenv==1.2.1
pillow==10.2.0
asgiref==3.11.1
sqlparse==0.5.5
tzdata==2024.2
dj-database-url
django-crispy-forms
crispy-bootstrap5
whitenoise
uvicorn