<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matrimonial</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>

<body class="d-flex flex-column min-vh-100 bg-white">

<nav class="navbar py-3 shadow-sm"
     style="background: linear-gradient(90deg, #f02626, #f17676);">

    <div class="container d-flex justify-content-between align-items-center">

        <!-- Left Section -->
        <div class="d-flex align-items-center">

            <span class="fw-bold text-white me-4"
                    style="font-size: 1.6rem; letter-spacing: 0.5px;">
                Ziradei Matrimonial®
            </span>

            <a href="{% url 'home' %}"
                class="text-white text-decoration-none fw-semibold"
                style="margin-right: 25px;">
                Home
            </a>

            <a href="{% url 'profile_list' %}"
                class="text-white text-decoration-none fw-semibold">
                Matchmaking
            </a>

        </div>

        <!-- Right Section -->
        {% if user.is_authenticated %}
            <a href="{% url 'my_profile' %}"
               class="btn btn-dark rounded-pill px-4">
                My Profile
            </a>
        {% else %}
            <a href="{% url 'login' %}"
               class="btn btn-dark rounded-pill px-4">
                Login / Register
            </a>
        {% endif %}

    </div>
</nav>

<main class="flex-fill pt-4">
    <div class="container">
        {% if messages %}
            <div class="container mb-3">
                {% for message in messages %}
                    <div class="alert alert-success text-center">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
</main>

<footer style="background-color:#2f2f2f;" class="mt-5 py-3">
    <div class="container text-center">

        <a href="#" class="text-white mx-3 text-decoration-none">
            Terms & Conditions
        </a>

        <a href="#" class="text-white mx-3 text-decoration-none">
            About Us
        </a>

        <a href="{% url 'contact_us' %}" class="text-white mx-3 text-decoration-none">
            Contact Us
        </a>

        <a href="#" class="text-white mx-3 text-decoration-none">
            Privacy Policy
        </a>

    </div>
</footer>
</body>
</html>