{% extends 'base.html' %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card shadow p-4 mt-4">

            <h2 class="fw-bold text-center mb-4">About Us</h2>

            <p>
                Ziradei Matrimony® is a community-focused platform created to help families in our hometown connect for marriage alliances.
            </p>

            <p>
                The platform provides structured digital introductions. All further discussions and meetings happen independently between families.
            </p>

            <p>
                Our objective is to simplify communication while preserving traditional family involvement.
            </p>

        </div>
    </div>
</div>

{% endblock %}