{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">

            <div class="card-header bg-dark text-white text-center">
                <h4>My Profile</h4>
            </div>

            <div class="card-body">
                {% if profile.profile_photo %}
                    <div class="text-center mb-3">
                        <img src="{{ profile.profile_photo.url }}"
                            class="img-fluid rounded-circle"
                            style="width:150px;height:150px;object-fit:cover;">
                    </div>
                {% endif %}
                <p><strong>Full Name:</strong> {{ request.user.full_name }}</p>
                <p><strong>Caste:</strong> {{ request.user.caste_community }}</p>
                <p><strong>Occupation:</strong> {{ request.user.occupation }}</p>
                <hr>
                <p><strong>Father:</strong> {{ profile.father_name }}</p>
                <p><strong>Mother:</strong> {{ profile.mother_name }}</p>
                <p><strong>Hometown:</strong> {{ profile.city_hometown }}</p>
                <p><strong>Bio:</strong> {{ profile.bio }}</p>

                <div class="d-flex justify-content-between mt-4">
                    <a href="{% url 'edit_profile' %}" 
                       class="btn btn-dark rounded-pill px-4">
                        Edit Profile
                    </a>

                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit"
                                class="btn btn-outline-danger rounded-pill px-4">
                            Logout
                        </button>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}